/.vscode
/c.cpp
/carr
/chessgame23
/express
/file.html
/file.txt
/front
/frontend
/javascript.js
/jay.c
/jay.c.exe
/jay.exe
/mongo
/mongooseTut
/myfile.html
/New folder
/node-v18.16.1-x64.msi
/node_modules
/package-lock.json
/package.json
/python
/read.c
/rohan.txt
/server
/server1
/student.html
/sys
/user.png
/whatchat